html, body {
    margin: 0;
    padding: 0;
  }
  
  .homepage-container {
    background: linear-gradient(135deg, #8a8989, #3a3a3a); /* Medium grey gradient */
    min-height: 100vh;
    padding: 20px;
  }

  .modern-title {
    font-family: 'Montserrat', sans-serif; /* Use a modern, clean font */
    font-size: 2.5rem; /* Larger font size */
    color: #003366; /* Navy blue color */
    font-weight: 600; /* Semi-bold weight for emphasis */
    text-transform: uppercase; /* Uppercase letters */
    letter-spacing: 0.05em; /* Slightly increased letter spacing */
    position: relative; /* Relative positioning for the underline effect */
    display: inline-block; /* To fit the underline width */
  }

  .modern-title::after {
    content: '';
    display: block;
    width: 60%;
    height: 4px;
    background: #006699;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 2px;
  }
  
  
  .header-container {
    margin-bottom: 2rem;
  }
  
  .header-container h1 {
    color: white;
    margin-bottom: 0.5rem;
  }
  
  .date-display {
    font-family: 'Montserrat', sans-serif; /* Use the same modern font as the title */
    font-size: 1.5rem; /* Slightly larger font size for emphasis */
    color: #FFFFFF; /* White color for contrast against the gradient background */
    font-weight: 500; /* Medium weight for a sleek look */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px 10px; /* Add padding for a 'badge' effect */
    border-radius: 8px; /* Rounded corners for a modern look */
    display: inline-block; /* Center the date display */
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
  }
  
  .tide-card {
    background: linear-gradient(135deg, #003366, #006699); /* Navy blue gradient */
    color: #fff; /* White text color */
  }
  
  .tide-card .card-body {
    padding: 20px;
  }
  
  .tide-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff; /* Ensure title text is white */
  }
  
  .tide-card .card-text {
    font-size: 1.2rem;
    color: #fff; /* Ensure card text is white */
  }
  