.homepage-container {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  padding: 20px;
}
  
  .modern-title::after {
    content: '';
    display: block;
    width: 90vmin;
    height: 4px;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 2px;
  }

.header-container {
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .header-container h1 {
    color: rgb(54, 50, 50);
    margin-bottom: 0.5rem;
  }
  


  .homepage-container .text-center .see-tomorrow-btn:hover {
    background: linear-gradient(135deg, #92c9f3,  rgba(1, 11, 22, 0.8)); /* Darker gradient on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
  }

  .water-temp-card {
    background: linear-gradient(135deg, #800000, #b22222);
    color: white !important; /* Ensure text color is white */
    opacity: 0.9;
    border: none;
  }
  
  .water-temp-card.blue {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white !important; /* Ensure text color is white */
  }
  
  .water-temp-card .card-title, 
  .water-temp-card .card-text {
    color: white !important; /* Override any inherited styles */
    font-size: 1.25rem;
  }

  /* HomePage.css */
.water-temp-card {
  background: linear-gradient(135deg, #f04b4b, #7a0404);
  color: white !important; /* Ensure text color is white */
  border: none;
}

.water-temp-card.blue {
  background: linear-gradient(135deg, #49a05c, #254b27); /* Gradient from deep blue to a lighter blue */
  color: white !important;
}

.wind-card {
  background: linear-gradient(135deg, #aa72df, #46026d); /* Gradient from dark purple to a more vibrant purple */
  opacity: 0.9;
  color: white !important;
  border: none;
}

.water-temp-card .card-title, 
.water-temp-card .card-text,
.wind-card .card-title, 
.wind-card .card-text {
  font-size: 1.25rem;
}